.back-img {
  /* margin-top: 3rem; */
  background: url("../../public/HomeBannerBG.webp") no-repeat center
    center/cover;
}

.back-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
